.results-block {
  display: inline-block;
}

.no-padding {
  padding: 0 !important;
}

.left-padding {
  padding-left: 15px !important;
}

body {
  margin-top: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
